<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/admin/studentClassDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
    <div class="studentListOut" style="display:none">
        <div class="studentList"></div>
    </div>
    <div class="myAttendOut" style="display:none">
        <div class="myAttendContent"></div>
    </div>
    <div class="teacherIn4Out" style="display:none">
        <div class="teacherIn4"></div>
    </div>
    <div id="routeTuyBien" border="solid" style="overflow:auto;"></div>

    <div class="content">
        <div class='leftSide'>
            {{#each data}}
            <input type="hidden" value="{{_id}}" id="studentID">
            <img src='{{avatar}}'>
            <p>Name: {{username}}</p>
            <p>Email: {{email}}</p>
            <p id="routeTypeS">Route: {{routeName}}</p>
            <p id="start">Start stage: {{startStage}}</p>
            <p id="current">Current stage: {{stage}}</p>
            <p id="end">Aim stage: {{aim}}</p>
            {{/each}}
        </div>
        <div class='rightSide'>
        </div>
    </div>
</body>
<script src="/jquery/jquery.js"></script>
<script src="/js/admin/allClassStudent.js"></script>
</html>